<div class="product">
  	<a [routerLink]="['/products', product.id]">
		<img [src]= "product.url" class="product__image"/>
  	</a>
  	<div class="label">{{product.name}}</div>
	<div class="label">${{product.price}}</div>
  	<form (ngSubmit)="handleSubmit(product)" class="product__form">
		<div class="product__select">
			<select [(ngModel)]="selectedAmount" (ngModelChange)="handleQuantity($event)" name="selectedAmount">
				<option *ngFor="let productAmount of quantity" [ngValue]="productAmount">{{productAmount}}</option>
			</select>
			<button type="submit" class="btn-primary">Add To Cart</button>
		</div>
	</form>
</div>
